div.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
}

.date-location .location {
  font-weight: bold;
}

.weather-info {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.other-conditions {
  margin-left: 10px;
  line-height: 1.3;
}

.temp-cloud,
.other-conditions {
  font-size: 80%;
  min-width: 100px;
}

.temp-container > div {
  display: flex;
  /* justify-content: space-between; */
  gap: 5px;
}

.temp-container .temp-now {
  font-size: 2rem;
}

.temp-container .change-scale {
  font-size: 1.3rem;
  font-weight: bold;
  align-self: flex-start;
  border: none;
  background-color: inherit;
  /* color: grey; */
  text-decoration: underline;
}

.change-scale:hover {
  color: rgb(0, 136, 255);
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 750px) {
  div.current-weather {
    flex-direction: column;
  }

  .date-location .datetime > * {
    display: inline;
  }

  .weather-info {
    justify-content: center;
    margin-top: 10px;
  }
}
