/* -------------------- Search Box -------------------- */
.search-container {
  margin: 15px auto;
  width: 70%;

}

input[type="search"] {
 width: 75%;
 padding: 2px;
}

.search-btn {
  padding: 2px 5px;
}

