div.temp-forecast {
  display: flex;
  background-color: orange;
}

.temp-container {
  background-color: yellow;
}

.forecast-container {
  background-color: green;
}

.conditions {
  background-color: orangered;
}

div.current-weather {
  display: flex;
  justify-content: space-between;
}

/*----------------------- Daily Weather Section----------------------*/
.weather-display {
  display: flex;
  overflow-x: hidden;
}

button.weather-container {
  width: 20%;
  flex: none;
}
