div.temp-cloud {
  display: flex;
  background-color: orange;
}

.temp-container {
  background-color: yellow;
}

.cloud-container {
  background-color: green;
}

.conditions {
  background-color: orangered;
}

div.current-weather {
  display: flex;
  justify-content: space-between;
}

/*----------------------- Daily Weather Section----------------------*/
.daily-forecast {
  display: flex;
  overflow-x: hidden;
}

button.forecast {
  width: 20%;
  flex: none;
}

/* Scroll Buttons Styles*/

.forecast-container {
  position: relative;
}

.forecast-container > button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 50px;
  font-size: 25px;
  opacity: 0.7;
  position: absolute;
  top: 30%;
}

button.next {
  right: 0;
}

.hidden {
  display: none;
}